.list-item{
    padding: 0px 40px;
}
.search{
    width: 400px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 4px;
}
.lh{
    line-height: 3 !important;
}
table tr:hover{  
    background: #f1f1f1;
}
.tableHandler {
    height: 600px;
    overflow-y: scroll;
    display: inline-block;
}