<div class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
     <div class="collapse navbar-collapse">
      <ul class="navbar-nav  mb-2 mb-lg-0 ">
      <li class="nav-item list-item">
        <a class="nav-link active btn btn-secondary text-white" aria-current="page" (click)="selectedTab='list'"><i class="bi bi-list"></i>SAVED LISTS</a>
      </li>
      <li class="nav-item list-item">
        <a class="nav-link active" (click)="selectedTab='filter'"><i class="bi bi-funnel"></i>SAVED FILTERS</a>
      </li>			
      <li class="nav-item list-item">
        <a class="nav-link active" (click)="selectedTab='history'"><i class="bi bi-clock-history"></i>SEARCH HISTORY</a>
      </li>        
      </ul>
      <ul class="navbar-nav ms-auto">
        <input id="search" class="search form-control" type="text" placeholder="Search" [(ngModel)]="searchedName"> 
      </ul> 
    </div>
    </div>
  </nav>
  <div [ngSwitch]="selectedTab">
    <div class="row" *ngSwitchCase="'list'">
      <table class="table-borderless col-md-9 ms-5">
       <thead>
         <tr class="lh">
           <th scope="col" *ngFor="let column of headers" [ngClass]="column==='No. of Entities'? 'text-end': 'text-start ps-2'">{{column}}</th>
         </tr>
       </thead>
       <tbody>
         <tr class="lh" *ngFor="let item of data | filter:searchedName" >
           <td><span *ngIf="!item.date" class="bi bi-recycle"></span>{{item.date}}</td>
            <td>{{item.name}}</td>
            <td class="text-end px-2">{{item.entities}}</td>
            <td>        
               <i *ngIf="item.actions['mail']" class="bi bi-envelope p-1"></i>
               <i *ngIf="item.actions['share']" class="bi bi-share p-1"></i>
               <i *ngIf="item.actions['edit']" class="bi bi-pencil p-1"></i>
               <i *ngIf="item.actions['delete']" class="bi bi-trash p-1"></i>
            </td>
            <td>
              <button class="btn bg-light p-1" id="{{item.id}}" [value]="item.id" (click)="showDetails($event)">Details</button>
            </td>
         </tr>
       </tbody>
      </table>
      <div class="col-md ps-0">
       <div class="bg-light p-2 m-2">
         No Description yet <a href="#">+Add Description</a>
       </div>
        <div *ngIf="description" class="ms-2">
         <div *ngFor="let row of description">
           <div>
             <a href="#">{{row}}</a>
           </div>
         </div>
        </div>
      </div>
     </div>
     <div *ngSwitchCase="'filter'">
       <div>No Filters Applied</div>
     </div>
     <div *ngSwitchCase="'history'">
       <div *ngIf="searchedName; else noSearchedKey">Searched Keyword {{searchedName}}</div>
       <ng-template #noSearchedKey>
         <div>
           No search history available
         </div>
       </ng-template>
     </div>
  </div>  
</div>